__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

.ipynb_checkpoints/

.DS_Store
.AppleDouble
.LSOverride

.vscode/
.idea/

.pytest_cache/
.mypy_cache/
.ruff_cache/

data/
papers/
vorstellung/
#results/

*.wav
*.mp3
*.flac
*.zip

*.pth
*.pt
*.ckpt

*.tmp
*.temp
*.log